# when testing in this repo, we might have surveilr downloaded
surveilr
surveilr.exe

# when testing in this repo, we might have created default RSSDs
resource-surveillance.sqlite.db

# when testing in this repo, we might have ingest samples / exemplars
*sample*
ingest/

# windows security files
*Zone.Identifier